---
import PageLayout from "@/layouts/Base";
import { getFormattedDate } from "@/utils";
import Pocketbase from "pocketbase";


const { tag } = Astro.params;

const pb = new Pocketbase(import.meta.env.PUBLIC_PB_URL)
const posts = await pb.collection('posts').getFullList({
    filter: `tags ~ "${tag}"`
})

---

<PageLayout meta={{title: 'test'}}>
    <p class="title">{posts.length} {posts.length === 1 ? ' post' : ' posts'} with tag '{tag}'</p>
    <a href="/posts" class="cactus-link">[back]</a>
    <br><br>
    {
        posts.map(p => (
            <div class="mb-5">
                <time datetime={p['publishDate']} class="min-w-[120px] text-gray-500">{getFormattedDate(p['publishDate'])}</time>
                <div>
                    <a href={`/posts/${p['slug']}/`} class="cactus-link" rel="prefetch">
                        <img src={ pb.files.getUrl(p, p.headerImage) } width="400" class="py-2"/>
                        {p['title']}
                    </a>
                </div>
                <q class="pt-2 line-clamp-3 block italic">{p['description']}</q>
            </div>
        ))
    }
</PageLayout>