---
import PageLayout from "@/layouts/Base";
import { getFormattedDate } from "@/utils";
import Pocketbase from "pocketbase";

export const prerender = false

const meta = {
	title: "posts",
	description: "some thoughts and maybe even opinions on a bunch of stuff",
};

const pb = new Pocketbase(import.meta.env.PUBLIC_PB_URL)

const posts = await pb.collection('posts').getFullList({
    sort: '-publishDate'
})

---

<PageLayout meta={meta}>
    <h1 class="title mb-8">my thoughts</h1>

    {
        posts.map(p => (
            <div class="mb-5">
                <time datetime={p['publishDate']} class="min-w-[120px] text-gray-500">{getFormattedDate(p['publishDate'])}</time>
                <div>
                    <a href={`/posts/${p['slug']}/`} class="cactus-link" rel="prefetch">
                        <img src={ pb.files.getUrl(p, p.headerImage) } width="400" class="py-2"/>
                        {p['title']}
                    </a>
                </div>
                <q class="pt-2 line-clamp-3 block italic">{p['description']}</q>
            </div>
        ))
    }

</PageLayout>
