@tailwind base;

@layer base {
	:root {
		color-scheme: dark;
		--theme-bg: #232323;
		--theme-link: #b76de8;
		--theme-text: #fafafa;
		--theme-accent: #b76de8;
		--theme-accent-2: #eee;
		--theme-quote: #ccffb6;
		--theme-menu-bg: rgb(29 31 33 / 0.85);
		
		/* --header-title-d: #fbb6ce;
		--header-title-o: #fff;
		--header-title-t: #90cdf4; */
		--header-title-d: #D9D029;
		--header-title-o: #fff;
		--header-title-t: #854BB2;
	}

	html {
		@apply h-full scroll-smooth border-t-2;
		/* @apply border-textColor; */
		border-style: none;
	}

	html body {
		@apply mx-auto flex h-full max-w-3xl flex-col bg-bgColor px-8 pt-6 md:pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}
}

@tailwind components;
@tailwind utilities;
