---
export const prerender = false;
import SiteLayout  from '@/layouts/ThrowbackLayout'

const res = await fetch("https://fv2bx5g2lkhjejn5vd7ebdek5m0phygn.lambda-url.ap-southeast-2.on.aws/");
const heathcliffImageURL = await res.text();
---

<script defer>
    function getHeathcliffForDate() {
        const comicDate = document.querySelector("#comicDate")
        const comicDateFormatted = comicDate.value.split("-").join("/")  // .replace("-", "/") results in 2023/01-01 unfortunately
        
        const options = {
            method: 'POST',
            // headers: {'Content-Type': 'application/text'},
            body: comicDateFormatted
        };
        
        fetch("https://fv2bx5g2lkhjejn5vd7ebdek5m0phygn.lambda-url.ap-southeast-2.on.aws/", options)
        .then(response => response.text())
        .then(response => {
            console.log(response)
            document.getElementById("heathcliff").src=response
        })
        .catch(err => console.error(err));
    }
</script>

<SiteLayout title="heathclipped">
<h3 style="text-align: center;">funny orange cat images!</h3>
<img id="heathcliff" src={heathcliffImageURL}>
<div style="display: flex; justify-content: center; padding-top: 15px;">
    <!-- <form id="dateForm" onsubmit="getHeathcliff()"> -->
        <input id="comicDate" name="comicDate" type="date">
        <!-- <input type="submit" value="go!"> -->
        <button onclick="getHeathcliffForDate()" style="padding-left: 5px;">go!</button>
    <!-- </form> -->
</div>
</div>
</SiteLayout>

<style>
    #heathcliff {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 80%;
        width: auto;
        max-width: 80%
    }
</style>