---
import SiteLayout  from '@/layouts/ThrowbackLayout'
---

<SiteLayout title="home">
	<div style="display: flex; flex-wrap: wrap; justify-content: center; max-width: 80%;">
		<div style="flex-grow: 1; flex-shrink: 1; flex-basis: 30%; min-width: 200px; max-width: 70%;">
		</div>
		
		<div style="flex-grow: 2; flex-shrink: 2; flex-basis: 60%;">
			<p>
				hi! welcome to this (very much work in progress) lil web site!
			</p>
			<p>
				i pretty much made this whole site on a whim, as a little throwback, thanks to the new internet kinda sucking lately.
			</p>
			<p>
				that, plus i got kind of bored of a lot of modern websites all being similar looking text on white backgrounds with flashy-flash animations everywhere. where's the personality in that??
			</p>
			<p>
				so,, welcome to this v e r y simple few html files running on a python server, setup with nginx running on some oracle cloud computer somewhere!
			</p>
			<p>
				there's a few things to do up top over there, or just look around and admire the #caa9ec. i'll most certainly keep updating it as i learn more about html and get more ideas on what to put here
			</p>
		</div>
	</div>
</SiteLayout>
