---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "just scan it - privacy policy",
	description: "privacy policy",
};
---

<PageLayout meta={meta}>
    <p class="title">Privacy Policy for Just Scan It!</p>
    <br>
    no data is collected, stored, or transmitted for this app. no internet requests are made, everything runs on your iOS device.
</PageLayout>