---
export const prerender = false
import PageLayout from "@/layouts/Base";

const res = await fetch("https://fv2bx5g2lkhjejn5vd7ebdek5m0phygn.lambda-url.ap-southeast-2.on.aws/");
const heathcliffImageURL = await res.text();

const meta = {
	title: "heathclipped",
	description: "funny orange cat image",
	ogImage: heathcliffImageURL
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title mb-6">funny orange cat!</h1>
		<div class="flex justify-center">
			<a href="https://creators.com/read/heathcliff" rel="noreferrer" target="_blank">
				<img
					src={heathcliffImageURL}
					alt="kity :3"
				/>
			</a>
		</div>
	</div>
</PageLayout>
