---
import PageLayout from "@/layouts/Base";
import { getFormattedDate } from "@/utils";
import Pocketbase from "pocketbase";

// export const prerender = true

const MAX_POSTS = 10;

const pb = new Pocketbase(import.meta.env.PUBLIC_PB_URL)

const allPosts = await pb.collection('posts').getFullList({
    sort: '-publishDate'
})

const allPostsByDate = allPosts.slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "" }}>
	<section>
		<div class="mb-4">
			<p>
				hi! welcome to this (still very much work in progress) lil web site!
			</p><br>
			<p>
				this place started as a very very simple little thing that i made on a whim, but as i learned more and wanted to do more here, i eventually caved and made An Proper Website.
				you can still visit <a class="cactus-link" href="/throwback">the old place</a> tho! 
			</p><br>
			<p>
				i've tried my best to stick with what i set out to do with the original project,
				which basically boiled down to not make this place too boring. 
			</p><br>
			<p>
				but yeah, i've been uploading more photos to here, as well as trying to write a little,
				as a treat, whenever i have ideas. i'll certainly keep updating this place whenever i can too!
			</p>
		</div>
	</section>
	<section aria-label="Recent Posts" class="mt-16">
		<h2 class="title mb-4 text-xl">Recent Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((post) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<time datetime={post.publishDate} class="min-w-[120px] text-gray-500">{getFormattedDate(post.publishDate)}</time>
						<a href={`/posts/${post.slug}/`} class="cactus-link" rel="prefetch">
                        {post.title}
                    </a>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
