---
import Base from "@layout/Base";
import { authPB } from "@utils/pocketbase";
import AlbumCard from "@components/albums/albumCard";
export const prerender = false

const pb = await authPB()

const albums = await pb.collection('albums').getFullList({
    sort: '-date'
})
---


<Base meta={{title: "albums"}}>
    <div slot="sidebar">
        <p class="text-left"> More focused, themed collections of photos compared to the more miscellaneous images of the (now defunct) <a href="/photos">photos page.</a> Best viewed on a large screen!</p>
    </div>

    <div slot="content">
        <div class=" w-full">
            <div class="">
                { albums.map(a =>  <AlbumCard a={a}/> ) }
            </div>
        </div>
    </div>
    
</Base>