---
const { title } = Astro.props
---

<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>@breadone:{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <!-- <link rel="stylesheet" href="src/styles/global.css"> -->
</head>
<body>
    <header id="site_header">
        <h1>breadone <span style="color: pink;">d</span><span style="color: white;">o</span><span style="color: lightblue;">t</span> xyz</h1>
        <nav>   
            <span><a href="/throwback/" class:list={[{active: title=="home"}]}>home</a></span>
            <span> | </span>
            
            <span><a href="/throwback/heathclipped" class:list={[{active: title=="heathclipped"}]}>heathclipped</a></span>
            <span> | </span>
            
            <span><a href="/throwback/photography" class:list={[{active: title=="photography"}]}>photos</a></span>
        </nav>
    </header>
    <div id="content">
        <slot />
    </div>
    <footer>
        
        <div class="footer-kitten"></div>
        
        <div>   
            <span><a href="mailto:bohrium_sugars_0g@icloud.com" rel="noreferrer" target="_blank">email</a></span>
            <span> | </span>
            
            <span><a href="https://github.com/breadone" rel="noreferrer" target="_blank">github</a></span>
            <span> | </span>
            
            <span><a href="/" rel="noreferrer">throwforward</a></span>
            
        </div>
    </footer>  
    
</body>


<style>
    @font-face {
        font-family: jetbrains;
        src: url(/jetbrains.ttf);
    }

    html{
        /* font-family: "jetbrains", monospace; */
        /* font-weight: 500; */
        color:#5c357c;
        background-color:#caa9ec
    }

    a{
        color:#9000ff
    }

    a.active{
        color:#c300ff
    }
    
    #site_header{
        border-bottom:1px solid #e100ff;
        padding-bottom:5px;
        text-align:center;
    }
    
    footer{
        padding-top:5px;
        border-top:1px solid #e100ff;
        text-align:center
    }
    
    #content{
        max-width:900px;
        margin-left:auto;
        margin-right:auto;
        padding-top:2em;
        padding-bottom:2em
    }
    
    time,.author,.updated{
        font-weight:700
    }
    .article_header,.page_header{
        border-bottom:1px dotted #db67a7;
        padding-bottom:4px
    }
    
    .tag{
        font-weight:700
    }
    
    #heathcliff {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto
    }
    
    .center_80pct {
        text-align: center;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
</style>


</html>
