---
import Navbar from "src/components/index/navbar.astro"
import Footer from "./footer.astro"
---

<div>
    <a href="/" class="b1-no-underline text-4xl">breadone dot net</a>
    <Navbar/>
    <div class="mt-8"/> 

    <slot/>
</div>